<%- include('partials/header') %>
  <div class="container">
      <% secrets.forEach((secret) => { %>
        <div class="card placemaker" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">
              <%= secret.secret %>
            </p>
          </div>
        </div>
      <% }) %>
  </div>
  <div class="container clear">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
<%- include('partials/footer') %>
