
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.placemaker {
  margin: 20px 20px 20px 0; 
  float:left;
  box-shadow: 5px 5px 10px -10px #999;
}

.clear {
  clear: both;
  float:none;
  display:block;
  margin-top:20px;
  padding-top:20px;
  border-top:1px solid #ddd;
}
